@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,300italic,600italic,700,700italic,800,800italic|Source+Code+Pro:400,300,700&subset=latin,greek,greek-ext);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
html {
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0;
}

code, pre, textarea {
	font-family: "Source Code Pro", "Consolas", monospace;
	font-size: 0.875em;
}

#container h1 {
	font-size: 42px;
	text-align: center;
}

#container h2 {
	font-size: 32px;
}

#container h3 {
	font-weight: normal;
	font-size: 26px;
}

#container p:first-child {
	text-align: center;
}

h1, h2, h3, h4, h5, h6, header { font-family: "Open Sans", "Source Code Pro", "Consolas", monospace; color: rgb(30,90,40); }

pre {
	background: #eee;
	padding: 10px;
	border-radius: 5px;
}

pre code {
	font-size: 1em;
}

p code {
	background: #eee;
	padding: 5px;
	border-radius: 5px;
	white-space: nowrap;
}

pre.tight {
	line-height: 1;
}

pre.tight code {
	font-family: monospace;
}

a {
	text-decoration: none;
	color: #367410;
}
a:hover {
	color: #69a162;
	transition: .1s all linear;
}

header {
	background-color: #69a162;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	height: 70px;
	padding: 25px;
	text-align: center;
	z-index: 1000000;
}

#title a, #title {
	color: white;
	font-weight: bold;
	font-size: 50px;
}

header a {
	color: white;
}

header a:hover {
	color: #ddd;
	transition: .1s all linear;
}

#container {
	margin: 40px;
	margin-top: 130px;
	margin-bottom: 60px;
	text-align: justify;
	line-height: 2em;
}

blockquote {
	background: #ddd;
	margin: 0;
	padding: 4px;
	padding-left: 16px;
	border-left: 4px solid #bbb;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}