@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,300italic,600italic,700,700italic,800,800italic|Source+Code+Pro:400,300,700&subset=latin,greek,greek-ext);
html {
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0;
}

code, pre, textarea {
	font-family: "Source Code Pro", "Consolas", monospace;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6, header { font-family: "Open Sans", "Source Code Pro", "Consolas", monospace; color: rgb(30,90,40); }

code {
	background: #eee;
	padding: 3px;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: #69a162;
}
a:hover {
	color: #8bc384;
	transition: .1s all linear;
}

header {
	background-color: #69a162;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	height: 70px;
	padding: 25px;
	text-align: center;
	z-index: 1000000;
}

#title a, #title {
	color: white;
	font-weight: bold;
	font-size: 50px;
}
#title a:hover {
	color: #ddd;
	transition: .1s all linear;
}

#container {
	margin: 10px;
	margin-top: 130px;
}